body{

background-color: rgb(210, 111, 12); 


}

ul {

background-color: lightgray;
text-align: center;

}

ul > li{

display: inline-block;
padding: 10px 



}

table, th, td{

text-align: center; 
border: 1px solid;



}